Q1: 
consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

The value displayed when evaluating the last expression a would be 6.

Q3:

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Q4:

In [24]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
collatz(1)
# Output: 1

collatz(10)
# Output:
# 10
# 5
# 16
# 8
# 4
# 2
# 1

1
10
5
16
8
4
2
1

Q5:

In [5]:
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
print(binary(0))
# Output: 0

print(binary(1))
# Output: 1

print(binary(3))
# Output: 11

print(binary(9))
# Output: 1001

0
1
11
1001

Q8:

a: All the temperature data

In [19]:
SELECT Temperature
FROM table_name;

SyntaxError: invalid syntax (3798486728.py, line 1)

b:All the cities, but without repetition

In [21]:
SELECT DISTINCT City
FROM table_name;

SyntaxError: invalid syntax (783014901.py, line 1)

c) All the records for India.

In [22]:
SELECT *
FROM table_name
WHERE Country = 'India';

SyntaxError: invalid syntax (2694966875.py, line 1)

d) All the Fall records.

In [ ]:
SELECT City, Country, Season
FROM table_name
WHERE Season = 'Fall' AND Rainfall BETWEEN 200 AND 400;

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [ ]:
SELECT City, Country
FROM table_name
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature ASC;

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [ ]:
SELECT SUM(Rainfall) AS Total_Rainfall
FROM table_name
WHERE City = 'Cairo';

e) The total annual rainfall for Cairo.

In [ ]:
SELECT SUM(Rainfall) AS Total_Rainfall
FROM table_name
WHERE City = 'Cairo';

f) The total rainfall for each season

In [ ]:
SELECT Season, SUM(Rainfall) AS Total_Rainfall
FROM table_name
GROUP BY Season;

Q9:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

In [ ]:
result_a = [word.upper() for word in words]

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

In [ ]:
result_b = [word.lower() for word in words]

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).

In [ ]:
result_c = [len(word) for word in words]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

In [ ]:
result_d = [[word.upper(), word.lower(), len(word)] for word in words]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [ ]:
result_e = [word for word in words if len(word) >= 4]

Q2:

In [18]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print("File", filename, "not found.")
fileLength('midterm.py')  # Output: 358
fileLength('idterm.py')   # Output: File idterm.py not found.

File midterm.py not found.
File idterm.py not found.